.DS_Store
node_modules


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

extras/TruceCalc_CPP/Eigen/

extras/TruceCalc/eigen-master/

src/cpp/TruceCalc/eigen-master/
