/*
    Main UI
*/

.topbarcontainer {
width: 100%;
height: 2.5em;
background-color: lightsalmon;
}

.topbar {
float: left;
position: relative;
background-color: red;
display: flex;
height: inherit;
width: 80%;
}

.modeselection {
float: right;
height: inherit;
margin: auto 0;
}

.bottompopup {
position: absolute;
bottom:0.4em;
left: 0.4em;
background-color: green;
display: flex;
transition: opacity 2s;
border-radius: 1em;
padding-top: 0.2em;
padding-bottom: 0.2em;
padding-left: 0.6em;
padding-right: 0.6em;
color: white;
font-style: italic;
font-size: 0.9em;
}

#container {
position: absolute; 
height: calc(100% - 2.5em);
width: 100%;
}

.menu {
    padding-left: 0.5em;
    padding-right:0.5em;
    margin: auto 0;
    background-color: seagreen;
    font-size:0.8em;
}

#logo {
    margin: auto 0;
    background: url("./logo_default.png") center no-repeat;
    background-size: contain;
    width: 8em;
    height: 100%;
}



.wrapper {
position:absolute;
}

/*
    Toolbar
*/

.main_toolbar {
    width:5em;
    height:15em;
    position:absolute;
  }

.toolbar{
    background-color: blue;
    display: inline-block;
    position: absolute;
    top:1em;
    left: 1em;
}

.toolbar-handler{
    background-color: black;;
    height: 1.5em;
    color: white;
    line-height: 1.5em;
    font-size: 0.8em;
    padding-left: 0.5em;
}
.toolgroup {
    margin-top: 0.5em;
    height:70%;
    width:100%;
    background-color: darkmagenta;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    display: block;
    width: 2em;
    height: 2em;
}
#select {
    background: url("./select.png") center no-repeat;
    background-size: contain;
}
#drawFachwerk{
    background: url("./Stab.png") center no-repeat;
    background-size: contain;
} 
#drawFeder{
    background: url("./feder.png") center no-repeat;
    background-size: contain;
}
#placeFestLager{
    background: url("./festlager.png") center no-repeat;
    background-size: contain;
}
#placeLosLager{
    background: url("./loslager.png") center no-repeat;
    background-size: contain;
}
#drawBoden {
    background: url("./boden.png") center no-repeat;
    background-size: contain;
}
#removeAll {
    background-color: rgb(48, 24, 51);
    color: white;
    width: 2em;
    height: 2em;
    flex-basis: 90%;
    font-size: 0.7em;
    margin: auto 0;
    text-align: center;
    line-height: 2em;
}

/*
    Components Window
*/

.table-container{
    width: 10em;
    overflow: hidden;
    float: top;
    height: auto !important;
    background-color: yellow;
    
}

.table-background{
    overflow: hidden;
    float: top;
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}