/*
    Main UI
*/

.topbarcontainer {
width: 100%;
height: 2.5em;
background-color: lightsalmon;
}

.topbar {
float: left;
position: relative;
background-color: red;
display: flex;
height: inherit;
width: 80%;
}

.modeselection {
float: right;
height: inherit;
margin: auto 0;
}

.bottompopup {
position: absolute;
bottom:0.4em;
left: 0.4em;
background-color: green;
display: flex;
transition: opacity 2s;
border-radius: 1em;
padding-top: 0.2em;
padding-bottom: 0.2em;
padding-left: 0.6em;
padding-right: 0.6em;
color: white;
font-style: italic;
font-size: 0.9em;
}

#container {
position: absolute; 
height: calc(100% - 2.5em);
width: 100%;
}

.menu {
    padding-left: 0.5em;
    padding-right:0.5em;
    margin: auto 0;
    background-color: seagreen;
    font-size:0.8em;
}

#logo {
    margin: auto 0;
    background: url("./logo_default.png") center no-repeat;
    background-size: contain;
    width: 8em;
    height: 100%;
}



.wrapper {
position:absolute;
}


.button {
    display: block;
    width: 2em;
    height: 2em;
}
#select {
    background: url("./select.png") center no-repeat;
    background-size: contain;
}
#drawFachwerk{
    background: url("./Stab.png") center no-repeat;
    background-size: contain;
} 
#placeKraft{
    background: url("./kraft.png") center no-repeat;
    background-size: contain;
}
#placeFestLager{
    background: url("./festlager.png") center no-repeat;
    background-size: contain;
}
#placeLosLager{
    background: url("./loslager.png") center no-repeat;
    background-size: contain;
}
#drawBoden {
    background: url("./boden.png") center no-repeat;
    background-size: contain;
}
#removeAll {
    background-color: rgb(48, 24, 51);
    color: white;
    width: 2em;
    height: 2em;
    flex-basis: 90%;
    font-size: 0.7em;
    margin: auto 0;
    text-align: center;
    line-height: 2em;
}
#svgDownload {
    background-color: rgb(48, 24, 51);
    color: white;
    width: 2em;
    height: 2em;
    flex-basis: 90%;
    font-size: 0.7em;
    margin: auto 0;
    text-align: center;
    line-height: 2em;
}

/*
    Windows
*/

.window-background{
    position: absolute; 
    background-color: blue;
    display: inline-block;
    height: auto;
    
    border-style : solid;
    border-color: rgb(90, 45, 24);
    border-radius: 5px;
}

.window-handler{
    background-color: rgb(22, 4, 2);
    height: 1.5em;
    color: white;
    line-height: 1.8em;
    padding-left: 0.5em;
    cursor: default;

    font-size: 0.8em;
    font-weight: bold;
}


/*
    Components Window
*/

.table-container{
    width: 10em;
    overflow: hidden;
    float: top;
    height: auto !important;
    background-color: yellow;

    top: 1em;
    right: 1em;
}

.table-background{
    background-color: white;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*
    Toolbar
*/

.tools-container {
    position: absolute;
    width:5em;
    height: auto !important;
    background-color: darkmagenta;
    top: 1em;
    left: 1em;
}

.tool-background {
    display: flex;
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: tomato;

    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* Debug */

.debug-container{
    width: 10em;
    overflow: hidden;
    float: top;
    height: auto !important;
    background-color: yellow;

    

    top: 10em;
    right: 1em;
}

.debug-content{
    font-size: .8em;
}
/* Solution */

.solution-container{
    width: 10em;
    overflow: hidden;
    float: top;
    height: auto !important;
    background-color: yellow;

    top: 20em;
    left: 1em;
}

/* Force Prompt */
.prompt-background{
    position: fixed; 
    background-color: gray;
    display: inline-block;
    height: auto;
    
    border-style : solid;
    border-color: rgb(90, 45, 24);
    border-radius: 5px;
}

.prompt-handler{
    background-color: rgb(22, 4, 2);
    height: 1.5em;
    color: white;
    line-height: 1.8em;
    padding-left: 0.5em;
    cursor: default;

    font-size: 0.8em;
    font-weight: bold;
}